.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.content {
  display: flex;
  gap: 60px;
}






button {
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
}