.app {
  height: 100vh;
  display: flex;
  flex-direction: column;   /* stack vertically */
  justify-content: center;
  align-items: center;
  gap: 40px;                /* THIS creates space */
}



button {
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
}