.app {
  min-height: 100vh;
  display: flex;
  flex-direction: row;     /* horizontal */
  justify-content: center; /* center horizontally */
  align-items: center;     /* center vertically */
  gap: 60px;               /* space between items */
}




button {
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
}