.app {
  height: 100vh;          /* full screen height */
  display: flex;          
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
}



button {
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
}